*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Poppins', sans-serif;
}


.shadow-orange {
  box-shadow: 3px 8px 10px rgba(231, 157, 19, 0.3);
}

.btn-light {
  padding: .5rem 1.5rem;
  margin: 0rem 1rem 0 0;
  border-radius: 50px;
  border: 2px rgb(231, 157, 19) solid;
  font-family: 'Poppins', sans-serif;
  background: none;
  min-width: 7rem;
  color: rgb(231, 157, 19);
  font-weight: 500;
  transition: .2s ease all;
}

.btn-light:hover {
  color: rgb(255, 255, 255);
  border: 2px rgb(231, 157, 19) solid;
  background: rgb(231, 157, 19);
}

.btn-dark {
  padding: .5rem 1.5rem;
  border-radius: 50px;
  border: 2px rgb(231, 157, 19) solid;
  font-family: 'Poppins', sans-serif;
  background: rgb(231, 157, 19);
  min-width: 7rem;
  transition: .2s ease all;
  color: #fff;
}

.btn-dark:hover {
  color: rgb(231, 157, 19);
  border: 2px rgb(231, 157, 19) solid;
  background: rgb(255, 255, 255);
}




.container{
  width: 90%;
  margin: auto;
  padding: 0 2rem;
}

@media (min-width: 1124px){
  .container{
    max-width: 1124px;
  }
}
